@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary-600 {
    background-color: #006687;
  }
  .bg-primary-500 {
    background-color: #007498;
  }
  .text-primary-600 {
    color: #006687;
  }
  .text-primary-500 {
    color: #007498;
  }
  .text-white {
    color: #fff;
  }
}